@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoff" }))
    {
        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav navbar-left">

            <li>
                <a href="javascript:document.getElementById('logoff').submit()">
                    <i class="glyphicon glyphicon-log-out"></i>
                    تسجيل الخروج
                </a>
            </li>
            <li style="direction:rtl;">
                @Html.ActionLink("مرحبا بك يا : " + User.Identity.GetUserName(), "Index", "Manage")
            </li>

        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-left navbar-text">
        <li>
            <a href="~/Account/Login">
                <input type="submit" value="الدخول" class="btn" />
            </a>
        </li>
        <li>
            <a href="~/Account/Register">
                <input type="submit" value="تسجيل" class="btn" />
            </a>
        </li>

    </ul>
}
<!---->
